<form action="/posts/<%= @post.id %>" method="POST">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<input type="text" name="name" value="<%= @post.name %>">
	<input type="text" name="content" value="<%= @post.content %>">
	<input type="submit" name="" value="submit">
</form>


